*{
  color: rgb(48, 47, 47);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: rgb(32, 32, 32);
}
#root {
  background-color: #a13dfff3;
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100vw;
  background-color: #d2e0ff;
  background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  h1{
    text-align: center;
    margin-top: 10px;
    color: #002b88;
  }
  h2 {
    text-align: center;
    font-weight: 500;
    color: #035bcf;
    
  }
  h3,h4 {
    text-align: center;
    color: rgb(62, 86, 122);
  }
  p {
    text-align: center;
    font-weight: 500;
    color: #3f3e3e;
  }
}
/* ************* Components ************* */
.navbarContainer {
  width: 100%;
  padding: 0 5vw 0 5vw;  
  background-color: #F8F9FA;
  box-shadow: 0 0 5px #0045ad49;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoNavbar {
    &:hover {
      color: #ffffff;
        text-shadow: 0 0 5px #035bcf;
    }
    &:active {
      color: #c4c4c4;
      text-shadow: none;
    }
  }
  .containerCartIcon {
    display: flex;
    .cartIcon {
      color: #0066ff;
      cursor: pointer;
      &:hover {
        color: #ffffff;
        text-shadow: 0 0 5px #0066ff;
      }
      &:active {
        color: #c4c4c4;
        text-shadow: none;
      }
    }
    .text-cart {
      color: #035bcf;
    }
  }  
}
.homePageContainer {
  margin-top: 30px;
}
.cartPageContainer {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.containerButtons {
  width: 100%;
  height: 150px;
  margin-top: 40%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .btn {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    &:hover {
      color:rgb(48, 47, 47)
    }
  }
}
.itemListContainer {
  margin: 30px 5vw;
  .itemList {
    position: relative;
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .containerItem {
      position: relative;
      width: 260px;
      height: 360px;
      margin-bottom: 30px;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
      transition: 0.5s;
      background-color: #6dd5fa;
      cursor: pointer;
      &:hover {
        transform:scale(1.05);
        box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.233);
      }
      &:active {
        transition: 0s;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
      }
      .item {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 22px;
        border-radius: 5px;
        background-color: #ffffff;
        background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(125,125,125,.5) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s;        
        &:hover {
          background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(125, 125, 125, 0.2) 100%);
        }
        &:active {
          transition: 0s;
          filter: contrast(50%);
        }
        .titleAndPrice {
          height: 35%;
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content:space-between;
          .titleItem {
            height: 80%;
            color: #004caf;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);
            overflow: hidden;
          }
          .priceItem {
            height: 20%;
            margin-bottom: 0;
            color: #734b94;
          }
        }
        .containerImg {
          height: 65%;
          display: flex;
          justify-content: center;
          align-items: center;
          .imgItem {
            width: 100px;
          }
        }
      }
    }
  }
}

.errorContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .imgError {
    width: 50%;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 15px #000;
  }
}